<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="Model1" connectionString="data source=PC3-SF;initial catalog=ManualDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
   <!--PARA LOCAL-->
    <add name="Model1" connectionString="data source=10.3.240.87;initial catalog=ManualDB;User Id=sa;Password=FS_2015!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    
    <!--PARA EL HOST-->   
    <add name="Model1" connectionString="data source=.\MSSQLSERVER2012;initial catalog=gidpi_manualbd;User Id= sa_gidpi;Password=G1dp12017*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    
    <!--<add name="Model11" connectionString="data source=PC3-SF;initial catalog=ManualDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="Model1" connectionString="data source=PC3-SF;initial catalog=ManualDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>