<link href="../Css/MenuAyudaColaboradores.css" rel="stylesheet" />
<style>
 *{
     font-size:17px;
 }

</style>

<div>
    <nav class="vertical" id="menuAyuda">
        <input type="checkbox" id="toggle2" />
        <label id="menuToggle" for="toggle2">
            <span class="fa fa-bars" style="font-size:22px;"></span>
        </label>
        <menu style="margin-top:-6%;">

            <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
            <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" ng-click="Regresar()" style="font-size:22px;"></a></li>

        </menu>
    </nav>



    <div class="container" style="background: rgba(192,192,192,0.15); height: 100%; margin-top:-10%">


        <h1 style="font-weight:600">Agradecimientos</h1>
        

        <div class="col-md-12 col-sm-12" id="imagenes" style="height:15vh; margin-left: 50%; transform: translateX(-50%); margin-top:2%;">
            <center>
                <div><img class="col-md-2 col-sm-2" height="90px" src="../images/LogoSIPI.png" /></div>
                <div><img class="col-md-2 col-sm-2" height="100px" src="../images/ITADIR.png" /></div>
                <div><img class="col-md-2 col-sm-2" src="../images/MERLIN.png" /></div>
                <div><img class="col-md-3 col-sm-3" src="../images/logoSennova.png" /></div>
                <div><img class="col-md-3 col-sm-3" src="../images/centro.png" /></div>
            </center>
        </div>

        <div style="margin-left: 50%; transform: translateX(-50%); text-align:justify" class="col-md-10 col-sm-12">
           
            <h2 style="color:black;">CRÉDITOS</h2>
            <hr />
            <p>
                <b>Entidad Financiadora:</b> SENNOVA (Sistema de Investigación, Desarrollo Tecnológico e
                Innovación) SENA-Centro de Servicios y Gestión Empresarial, Regional Antioquia.

            </p>
            <p>
                <h4 style="font-weight:bold">Ambientes de Trabajo</h4>
                <b> Lugar de investigación: </b> Lugar de investigación: Tecnoparque Nodo Medellín piso 6.<br />

                <b> Desarrollo web:</b> Fábrica de Software <br />

                <b> Estudio de grabación:</b>Ambiente 10-06 Torre Norte
            </p>
            <p>
                <h4 style="font-weight:bold">Investigadores</h4>

                John Jairo Castro Maldonado, Jennifer Andrea Londoño Gallego, Sebastian Londoño
                Marín, Santiago Patiño hurtado, Ana Alexandra Pino Martínez,  Erika Juliett Restrepo
                Zapata, Carlos López Romero. <b>Apoyo recolección de información: </b>Liliana Echeverri,
                Wendy López
            </p>
            <p>
                <h4 style="font-weight:bold"> Equipo de desarrollo</h4>

                <b>Líder Fábrica de software: </b>Juan David Vahos Montoya<br />
                <b>Desarrollador web:</b> Carlos López Romero Colaboradores: Alejandro Vélez.<br />

                <b> Desarrollo de interfaz:</b>Camila Uran Zapata, Alejandro Vélez Colaboradores: Jhony
                Henao, Carlos López Romero.<br />
                <b>Diseño de interfaz: </b> Yuli Jabeidy Urrego Larrea, Camila Uran Zapata<br />
                <b>Diseño personajes: </b> Yuli Jabeidy Urrego Larrea<br />
                <b> Animaciones: </b>Mateo Isaza     <b>Colaboradores: </b>Diana Lucia Beltrán Grajales, Edison Albino Berrio.<br />
                <b>Guionista:</b> Yuli Jabeidy Urrego Larrea <b>Asesor:</b> Andrés Mora <b> Colaboradores:</b> Mario
                Sepúlveda, Jennifer Andrea Londoño Gallego, Sebastián Londoño Marín, Santiago, Patiño
                Hurtado.<br /> 

                <b>Voces en off</b><br />
                <b> Personaje Adriana:</b> Adriana Rojas Personaje <b>Thomas:</b> Andrés Sánchez<br />

                <b>Estudio de grabación y Edición de voces:</b> Ivan Salamanca, Duvan Correa<br />
                <b>Logística y gestión: </b>Jennifer Andrea Londoño Gallego, Yuli Jabeidy Urrego, John Jairo
                Castro Maldonado, Sandra Velásquez Restrepo.<br />
                <b>Asesoras SENNOVA:</b> Nilza Viana, Adriana Rojas<br />
                <b>Contacto:</b> Plataforma.gidpi@gmail.com
            </p>
            <p>
                <br/>
                <h2 style="color:black;">AGRADECIMIENTOS</h2>
                <hr />

                Al Grupo de investigación en Gerencia y Aplicación de la Tecnología GIGAT y especial
                agradecimiento al Sistema de Investigación, Desarrollo Tecnológico e Innovación
                SENNOVA por la financiación y ejecución del proyecto: Diseño de un manual interactivo
                que sirva de guía a las MiPymes del Área Metropolitana de Medellín, en la creación y
                estructuración de proyectos de innovación bajo el número de radicado SGPS-1104- 2016.<br />

                A Tecnoparque nodo Medellín, por el espacio para las actividades de búsqueda de datos, y
                reuniones de seguimiento del proyecto GIDPI.<br />

                Al SENA, Centro de Servicios y Gestión Empresarial por los recursos e información que
                puso a nuestra disposición, y aquellos empresarios y entidades IDT que nos abrieron sus
                puertas y nos entregaron información valiosa para el desarrollo de este proyecto.<br />

                Al Semillero de investigación en Móviles, Educación, Robótica, Automatización y Control
                (MERLIN), y Fabrica de Software, por el desarrollo y funcionamiento del aplicativo. Al
                Semillero de Investigación en Proyecto e Ingeniería (SIPI) por el apoyo en la Formulación
                e Investigación del Proyecto, y al Semillero de Investigación de Integración de Técnicas de
                Animación y la Realidad (ITADIR) por facilitar el espacio tecnológico y apoyo en las
                grabaciones de voces.

            </p>
            <p>
                <br />
                <h2 style="color:black;">BIBLIOGRAFÍA</h2>
                <hr />
                Amorós, A. (2011). Desarrollo e implementación de la Formación por Proyectos en el
                SENA Un ejemplo de Buenas Prácticas en la transferencia metodológica. Servicio
                Nacional de Aprendizaje, 72. Retrieved from
                https://www.academia.edu/8365897/Desarollo_e_implementación_de_sistemas_de_in
                formación_completo<br /> <br />

                Anibal, B. (2010). La Metodología Cuantitativa Y Su Uso En América Latina, 37, 1–14.<br /><br />

                Antioquia, G. de. Bases del plan de desarrollo de Antioquia “pensando en grande 2016-
                2019” (2016).<br /><br />

                Antonio, J., Loyola, V., &amp; Flores Ávila, E. (2014). Prácticas administrativas que
                promueven la innovación en las empresas * Management Practices that Promote
                Innovation in Companies Práticas administrativas que promovem a inovação nas
                empresas. Universidad &amp; Empresa, 16(27), 81–101.<br /><br />

                Aldunate, E., &amp; Córdoba, J. (2011). Formulación de programas con la metodología de
                marco lógico. CEPAL.<br /><br />

                Bancóldex, S. A. (2007). Presentación Institucional.<br /><br />

                Barrios Fontalvo, A. C., Luckert Beltrán, A. S., Martínez Puentes, S., Olivella Suarez, J. D.,
                &amp; Cantillo Guerrero, E. (2013). Papel de la innovación en el sector empresarial. 11th
                Latin American and Caribbean Conference for Engineering and Technology, 11, 1–9.<br /><br />

                Becerra Rodríguez, F. M., Gómez Serna, C., &amp; Valencia Naranjo, J. (2013). ESTUDIOS
                GERENCIALES Redes empresariales locales, investigación y desarrollo e innovación
                en la empresa. Cluster de herramientas de Caldas, Colombia. Estudios Gerenciales,

                29, 247–257. https://doi.org/10.1016/j.estger.2013.05.013 <br /><br />

                Bitrán, E., Benavente, J. M., &amp; Maggi, C. (2011). Diagnóstico General del Sistema
                Nacional de Innovación en Colombia. Centro de Productividad Universidad Adolfo
                Ibáñez (Chile)., 1–36. <br /><br />

                Camara de Comercio. (2016). Retos para Mipymes en Antioquia 2016. Camara de
                Comercio de Medellin Para Antioquia. <br /><br />

                Camelo Ordaz, C., Martín Alcázar, F., &amp; Romero Fernández, Pedro M. Ramón, V. C.
                (2000). Relación entre el tipo y grado de innovación y el rendimiento de la empresa.
                Un análisis empírico. Economía Industrial, 333, 149–160. <br /><br />

                Cardona A., M., Vera A., L. D., &amp; Quiroz Tabares, J. (2008). Las dimensiones del
                emprendimiento empresarial: la experiencia de los programas Cultura E y Fondo
                Emprender en Medellín. Cuadernos de Investigación, 69, 64. <br /><br />

                Castellanos, J. G. (2003). PyMES INNOVADORAS. Cambio de Estrategias e
                Instrumentos. ESCUELA DE ADMINISTRACIÓN DE NEGOCIOS, 47, 33. <br /><br />

                Catterton, A., &amp; Rosales, R. (1997). Evaluación : Una herramienta de gestión para mejorar
                el desempeño de los proyectos. Evaluación: Una Herramienta de Gestión Para
                Mejorar El Desempeño de Los Proyectos, 72. <br /><br />

                CEEI. (2014). Manual de Innovación, Guía práctica de gestión de la I+D+i para Pymes.
                Centro Europeo de Empresas E Innovación, (1), 74. https://doi.org/10.1007/s13398-
                014-0173- 7.2 <br /><br />

                Criollo Ramírez, C. J. (2016). Estructuración de una guía metodológica para la
                identificación y formulación de proyectos productivos como apoyo al fortalecimiento
                de las mipyme en el departamento del Meta (Doctoral dissertation, Universidad

                Nacional de Colombia-Sede Manizales).<br /><br />

                Comercio, C. (2017). Estadísticas Cámara También le puede interesar. Retrieved from
                http://www.camaramedellin.com.co/site/Servicios-Empresariales/Informacion-
                Empresarial/Estadisticas-Camara.aspx <br /><br />

                CONPES, C. N. de P. E. y social, &amp; DNP, D. N. de P. (2015). Política Nacional de Ciencia,
                Tecnología e Innovación 2015-2025. Documento Borrador CONPES, 1–161. <br /><br />

                Consejo Privado, de C. (2016). Informe Nacional de Competitividad 2016-2017. <br /><br />

                Dirección de Inversiones Finanzas y Públicas Bogotá, D. D. (2013). Manual Conceptual
                Metodología General Para la Formulación y Evaluación de Proyectos de Inversión
                Pública (MGA).<br /><br />
                 
                DNP. (2015). Manual de Actualización Metodología General de Formulación. Dirección de
                Inversiones Y Finanzas Públicas - Manual Conceptual de La Metodología General
                Ajustada. <br /><br />

                Dutrénit Bielous, G. (2009). Innovación en las Empresas Una Perspectiva Microeconómica
                (Vol. 1). <br /><br />

                Flores Urbáez, M. (2015). La innovación como cultura organizacional sustentada en
                procesos humanos. Revista Venezolana de Gerencia, 20(70), 355–371. <br /><br />

                Gálvez Albarracín, E. J., &amp; Pérez De Lema, D. (2012). Impacto de la innovación sobre el
                rendimiento de la mipyme: Un estudio empírico en Colombia. Estudios Gerenciales,
                28(122), 11–27. https://doi.org/10.1016/S0123-5923(12)70191- 2 <br /><br />

                Galvis Rueda, J. F. (2013). La innovación como eje del desarrollo empresarial. Gest. Soc,
                6(1), 139–146. <br /><br />

                García-Pérez de Lema, D., Gálvez-Albarracín, E. J., &amp; Maldonado-Guzmán, G. (2016).
                Efecto de la innovación en el crecimiento y el desempeño de las Mipymes de la
                Alianza del Pacífico. Un estudio empírico. Estudios Gerenciales, 32(141), 326–335.
                https://doi.org/10.1016/j.estger.2016.07.003 <br /><br />

                Gómez, L., Martínez, J., &amp; Arzuza, M. (2006). Política pública y creación de empresas en
                Colombia. Pensamiento Y Gestión, 21, 1–25.<br /><br />

                González Candía, J., García Coliñanco, L., Caro, C. lucero, &amp; Romero Hernández, N.
                (2014). Estrategia y cultura de innovación, gestión de los recursos y generacion de
                ideas. Pensamiento Y Gestión, 36(1657–6276), 109–135.<br /><br />

                Gonzáles Castellanos, R., Yll Lavín, M., &amp; Curiel Lorenzo, L. (2003). Diseño teórico y
                formulación del proyecto de investigación. In Metodología de la Investigación
                Científica para las Ciencias Técnicas (pp. 1–59).<br /><br />

                González Valencia, S. (2011). La innovación como fuente de desarrollo, 2011, 9.
                https://doi.org/10.1787/eco_studies-2011 <br /><br />

                Hernández Sampieri, R., Fernández Collado, C., &amp; Baptista Lucio, P. (2006). Analisis de
                los datos cuantitativos. Metodología de la investigación.
                https://doi.org/10.6018/turismo.36.231041 <br /><br />

                Hernández Valencia, R. A., &amp; Lasso Ramírez, N. C. (2013). Referentes Nacionales y
                Locales para el Desarrollo Regional. Memorias, 11(19), 27–38. Retrieved from
                http://revistas.ucc.edu.co/index.php/me/article/view/107 <br /><br />

                Herrera, J. M. (2016). Colciencias y la convocatoria de grupos de investigación Colciencias
                research groups recognition. Revista Colombiana de Ortopedia Y Traumatología,
                30(1), 1–4. https://doi.org/10.1016/j.rccot.2016.07.001 <br /><br />

                INNPULSA. (2017). Innpulsa. Retrieved from https://www.innpulsacolombia.com <br /><br />

                Llisterri, J. J., &amp; Pietrobelli, C. (2011). Los Sistemas Regionales de Innovación en América
                Latina. Banco Interamericano de Desarrollo, 126. Retrieved from
                http://www.iadb.org/ <br /><br />

                MGA. (2013). Metodologia general ajustada. Retrieved from goo.gl/sYfDm3<br /><br />

                MINAGRICULTURA. (2017). Ministerio de agricultura y Desarrollo, Rural. Retrieved
                from https://www.minagricultura.gov.co/ministerio/quienes-somos/Paginas/Quienes-
                somos.aspx <br /><br />

                MINCIT. (2017). Ministerio de Comercio, Industria y Turismo de Colombia. Retrieved
                from http://www.mincit.gov.co/publicaciones/34613/conozca_el_mincomercio <br /><br />

                MINTIC. (2017). Acerca del MinTIC. Retrieved from
                http://www.mintic.gov.co/portal/604/w3-propertyvalue- 540.html <br /><br />

                Monje Álvarez, C. A. (2011). Metodología de la investigación cuantitativa y cualitativa.
                Guía didáctica. Universidad Surcolombiana, 1–216. Retrieved from
                http://carmonje.wikispaces.com/file/view/Monje+Carlos+Arturo+-
                +Guía+didáctica+Metodología+de+la+investigación.pdf <br /><br />

                Montoya, A., Montoya, I., &amp; Castellanos, O. (2010). Situacion de la competitividad de las
                pyme en colombia: elementos actuales y retos, 1–117. <br /><br />

                Morillas, A. (n.d.). Muestreo en poblaciones finitas. Informe, Servicio Central de
                Informática. CCUMA. <br /><br />

                OCDE, O. para la C. y el D. E. (2013). Metodología propuesta para la definición de la

                Investigación y el Desarrollo Experimental Manual de Frascati. Retrieved from
                www.oecdbookshop.org <br /><br />

                Ortegón, E. (2005). Metodología del marco lógico para la planificación, el seguimiento y
                la evaluación de proyectos y programas (Vol. 42). United Nations Publications.<br /><br />

                Ortegón, E., Pacheco, J. F., &amp; Prieto, A. (2015). Metodología del marco lógico para la
                planificación, el seguimiento y la evaluación de proyectos y programas. <br /><br />

                Planeación, D. N. de, Santos Calderón, J. M., &amp; Vargas Lleras, G. Bases Plan Nacional de
                Desarrollo 2014 - 2018 Todos por un nuevo país (2014). <br /><br />

                Pérez, H. R. (2015). Reflexiones sobre el Presupuesto Base Cero y el Presupuesto Basado
                en Resultados. El Cotidiano, 192, 78-84. <br /><br />

                Quintero Campos, J. L. (2013). Características de la innovación en pymes de Colombia que
                han utilizado recursos públicos. Revista de La Universidad Jorge Tadeo Lozano, 3, 63. <br /><br />

                Sánchez, N. (2007). El marco lógico. Metodología para la planificación, seguimiento, y
                evaluación de proyectos. Visión gerencial, (2), 328-343. <br /><br />

                SIGP. (2015). Sistema Integrado de Gestión De Proyectos. Retrieved from
                http://sigp.colciencias.gov.co:7777/portal/ <br /><br />

                Suñe, A., Bravo, E., Mundet, J., &amp; Herrera, L. (2012). Buenas prácticas de innovación: Un
                estudio exploratorio de empresas tecnológicas en el sector audiovisual español.
                Investigaciones Europeas de Direccion Y Economia de La Empresa, 18, 139–147.
                https://doi.org/10.1016/S1135-2523(12)70004- 7 <br /><br />

                Taboada, L. R., &amp; Guerrero, R. F. (2009). Análisis y resultados de un modelo de
                evaluación, apoyo y mejora de proyectos empresariales impulsados por jóvenes

                emprendedores1,2. Estudios Gerenciales, 25(113), 75–97.
                https://doi.org/10.1016/S0123-5923(09)70090- 7 <br /><br />

                Tarapuez, E., Guzmán, B. E., &amp; Parra Hernández, R. (2016). Estrategia e innovación en las
                Mipymes colombianas ganadoras del premio Innova 2010-2013. Estudios
                Gerenciales, 32, 170–180. https://doi.org/10.1016/j.estger.2016.01.002 <br /><br />

                Tecnnova. (2016). La Corporación Tecnnova como aliado estratégico. Retrieved from
                http://www.tecnnova.org/convocatoria-sena- fomento-a- la-innovacion- y-el- desarrollo-
                tecnologico-2015- 2017/ <br /><br />

                Tecnnova. (2017). El Modelo Tecnnova - Tecnnova. Retrieved from
                http://www.tecnnova.org/el-modelo- tecnnova/ <br /><br />

                Vesga, R. (2014). Emprendimiento e innovación en Colombia: ¿Qué nos está haciendo
                falta? Retrieved from http://mprende.co/emprendimiento-e- innovación-en- colombia-
                ¿qué-nos- está-haciendo- falta <br /><br />

                Yamakawa, P., &amp; Ostos, J. (2011). Relación entre innovación organizacional y desempeño
                organizacional Relationship between innovation and organizational performance in an
                emergent market Relação entre inovação organizacional e desempenho organizacional.
                Revista Universidad &amp; Empresa, 21(21), 93–115.<br /><br />

            </p>

        </div>
    </div>

</div>