<link href="../Css/MenuAyudaMatrizMarcoLogico.css" rel="stylesheet" />
<link href="../Css/AyudaAudio.css" rel="stylesheet" />
<link href="../Css/fontAudio.css" rel="stylesheet" />

<!--INICIA AYUDA TEXTO-->

<div id="ayudaTextoDoce">
    <div class="svg-popup-content" style="width:auto;">
        <h3 class="title-plagin" style="text-align:center; color:#238271; text-transform:uppercase; font-weight:600;">Matriz de involucrados</h3>
        <hr style="background:black;" />

        <h4>
            <b>
                Concepto y teoría MATRIZ DE MARCO
                LÓGICO
            </b>
        </h4> 
        <p/>
        <p>
            La Matriz de Marco Lógico es el
            ordenamiento de la idea de un
            proyecto en una matriz o cuadro de
            cuatro por cuatro, que sirve para
            evaluarlo antes, durante y después de
            la ejecución.
        </p>
        <p>
        <p> <h4><b>Texto lógica horizontal</b></h4> </p>
        <p>
            <b> Resumen narrativo: </b>es lo que se ha
            obtenido del análisis de las
            alternativas después de elaborar el
            árbol de objetivos
        </p>
        <p>
           <b>Indicadores:</b>  valores que pueden ser
            cuantitativos o cualitativos que
            permitan evaluar y monitorear los
            objetivos y deben ser objetivamente
            verificables. Expresión de medida o
            de calificación.
        </p>
        <p>
          <b>Medios de verificación:</b>   Es el cómo se
            van a monitorear los indicadores, se
            deben indicar las fuentes donde se
            recoge la información.
        </p>
        <p>
            <b>Riesgos y supuestos:</b> Estos
            inevitablemente deben cumplirse para
            lograr las actividades, resultados o
            productos, propósitos y el fin del
            proyecto.
        </p>
        <p>
            
        <p><h4><b>Texto Lógica Vertical</b></h4></p>
        <p>
           <b>Fin:</b>  Contribución significativa del
            proyecto cuando ha terminado el
            período de ejecución
            establecido (objetivo general)
        </p>
        <p>
          <b> Propósitos:</b>  Lo que ha logrado el
            proyecto ejecutado (objetivos
            específicos)
        </p>
        <p>
          <b>Resultados:</b>   O productos completados
            durante el proceso y al final de la
            ejecución del proyecto.
        </p>
        <p>
           <b>Actividades: </b> Las que permiten que se
            produzcan los componentes o
            resultados.
        </p>

        <p> <h4><b>
             Texto Validación de la integralidad y
                lógica del proyecto.
            </b></h4>
        </p>
        <p>  
            <b>1.</b> Cuando el personal del proyecto
            realiza las actividades descritas en
            1,
        </p>
        <p>
            <b>2.</b> utilizando los recursos humanos y
            financieros determinados en 2,
        </p>
        <p>
            <b>3.</b> lo que se puede verificar en las
            fuentes respectivas
        </p>
        <p>
            <b>4.</b> y suponiendo que no hubiera nada
            inconveniente para el trabajo,
        </p>
        <p>
            <b>5.</b> se logren los resultados o
            productos del proyecto
        </p>
        <p>
            <b>6.</b> en el tiempo, en calidad y
            cantidad establecidas como metas,
        </p>
        <p>
            <b>7.</b> esta medida se puede verificar en
            las fuentes respectivas
        </p>
        <p>
            <b>8.</b> y suponiendo que los resultados
            del proyecto tendrían el impacto
            previsto, sin interferencia negativa
            externa o ajena,
        </p>
        <p>
            <b>9.</b> se logre el objetivo propuesto por
            el proyecto
        </p>
        <p>
            <b>10.</b> de la manera como fue acordado en
            términos de calidad y cantidad,
        </p>
        <p>
            <b>11.</b> esta medida se puede verificar
            por medio de las fuentes
            seleccionadas,
        </p>
        <p>
            <b>12.</b> y suponiendo que la situación
            obtenida por el proyecto tenga el
            impacto deseado a nivel general,
            entonces
        </p>
        <p>
            <b>13.</b> el objetivo general es alcanzado,
        </p>
        <p>
            <b>14.</b> según lo muestran los indicadores
            establecidos en 14,
        </p>
        <p>
            <b>15.</b>  verificables en las fuentes
            respectivas.
        </p>
    </div>
</div>

<!--FINALIZA AYUDA TEXTO-->
<!--INICIA AYUDA VIDEO-->

<div id="ayudaVideoDoce">
    <div class="svg-popup-content" style="width:auto;">
        <h3 class="title-plagin">Video ayuda matriz de marco lógico</h3>
        <iframe width="560" height="315" class="cierre" src="https://www.youtube.com/embed/AIEQAgHCyWQ" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!--FINALIZA AYUDA VIDEO-->
<!--INICIA AYUDA AUDIO-->
<div id="audioAyudaDoce" style="display:none">
    <div class="player audioMarcoLogico">
        <div class="control-row">
            <div class="pauseButton" id="pause-button">
                <i class="icon icon-play"></i>
                <i class="icon"></i>
            </div>
            <div class="seek-field">
                <input id="audioSeekBar" min="0" max="334" step="1" value="0" type="range" oninput="audioSeekBar()" onchange="this.oninput()">
            </div>
            <div class="volume-icon">
                <i class="icon-volume-up"></i>
            </div>
            <div class="volume-field">
                <input type="range" min="0" max="100" value="100" step="1" oninput="audio.volume = this.value/100" onchange="this.oninput()">
            </div>
            <div>
                <button class="fa fa-close cerrarAudio" style="float:right; border:none; background:none ;color:#238276; margin-right:1%; font-size:18px;">  </button>
            </div>
        </div>
    </div>

    <audio id="audio-player" ontimeupdate="SeekBar()" ondurationchange="CreateSeekBar()" preload="auto" >
        <source src="../audios/13.matris%20de%20marco%20logico.mp3" type="audio/mpeg">
     
    </audio>
</div>
<!--FINALIZA AYUDA AUDIO-->

<nav class="vertical" id="menuAyuda">
    <input type="checkbox" id="toggle2" />
    <label id="menuToggle" for="toggle2">
        <span class="fa fa-bars" style="font-size:22px;"></span>
    </label>
    <menu style="margin-top:-6%;">

        <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
        <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" ng-click="Regresar()" style="font-size:22px;"></a></li>
        <li><a class="fa fa-file button demo-btn ayudaTextoSiete menuAyuda" title="Leer ayuda" data-svg-popup="ayudaTextoDoce" style="font-size:22px;"></a></li>
        <li><a class="fa fa-video-camera button demo-btn ayudaVideoSiete menuAyuda" title="Ver ayuda" data-svg-popup="ayudaVideoDoce" ng-click="PauseAudio()" style="font-size:22px;"></a></li>
        <li><a class="fa fa-volume-up button menuAyuda" title="Escuchar ayuda" id="ayudaAudioDoce" style="font-size:22px;"></a></li>
        <li><a class="fa fa-book button menuAyuda" title="Sobre nosotros" ng-click="Colaboradores()" style="font-size:22px;"></a></li>


    </menu>
</nav>


<div class="container-fluid" style="height: auto; margin-top:-10%;">
    <div id="containerMarcoLogico">
        <div class="container col-lg-9 col-md-11 col-sm-11 col-xs-11" style="height:auto; margin-left:50%; transform:translate(-50%); background-color:rgba(192,192,192,0.15);">


            <!-- COntainer para la vista del marco logico -->


            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="height:12vh;">
                <h1 class="titulovistaObjetivos" id="textoMarcoLogico">MATRIZ DE MARCO LÓGICO</h1>
            </div>


            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <!--jhjhjhjh-->
                <table class="table  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="text-align:center"><p>Narrativo</p></th>
                            <th style="text-align:center"><p>Indicadores</p></th>
                            <th style="text-align:center"><p>Medios de verificacion</p></th>
                            <th style="text-align:center"><p>Supuestos</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <th>
                                <p class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:50px; text-align:center"> Fin</p>
                            </th>
                            <th class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12 " placeholder="13" ng-model="Marco.Fin1" maxlength="1500" style="height:150px;"></textarea>
                            </th>
                            <th class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12 " placeholder="14" ng-model="Marco.Fin2" maxlength="1500" style="height:150px;"></textarea>
                            </th>
                            <th class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12 " placeholder="15" ng-model="Marco.Fin3" maxlength="1500" style="height:150px;"></textarea>
                            </th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12 " placeholder="16" ng-model="Marco.Fin4" maxlength="1500" style="height:150px;"></textarea>
                            </th>
                        </tr>


                        <tr>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <p>Propositos</p>
                            </th>

                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12 " placeholder="9" ng-model="Marco.Proposito1" maxlength="1500" style="height:200px;"></textarea>
                            </th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="10" ng-model="Marco.Proposito2" maxlength="1500" style="height:200px"></textarea>
                            </th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="11" ng-model="Marco.Proposito3" maxlength="1500" style="height:200px"></textarea>
                            </th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12 " placeholder="12" ng-model="Marco.Proposito4" maxlength="1500" style="height:200px"></textarea>
                            </th>

                        </tr>
                        <tr>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <p style="height:50px;">Resultados</p>
                            </th>

                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="5" ng-model="Marco.Resultado1" maxlength="3000" style="height:300px;"></textarea>
                            </th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12 " placeholder="6" ng-model="Marco.Resultado2" maxlength="3000" style="height:300px;"></textarea>
                            </th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc  col-lg-12 col-md-12 col-sm-12 col-xs-12 " placeholder="7" ng-model="Marco.Resultado3" maxlength="3000" style="height:300px;"></textarea>
                            </th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12 " placeholder="8" ng-model="Marco.Resultado4" maxlength="1500" style="height:300px;"></textarea>
                            </th>

                        </tr>


                        <tr>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <p style="height:50px;">Actividades</p>
                            </th>

                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="1" ng-model="Marco.Actividad1" maxlength="7999" style="height:300px;"></textarea>
                            </th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12 " placeholder="2" ng-model="Marco.Actividad2" maxlength="3000" style="height:300px;"></textarea>
                            </th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="3" ng-model="Marco.Actividad3" maxlength="3000" style="height:300px;"></textarea>
                            </th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <textarea class="form-control marc col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="4" ng-model="Marco.Actividad4" maxlength="3000" style="height:300px;"></textarea>
                            </th>

                        </tr>





                    </tbody>
                </table>
                <!--jhjjhjhj-->

                <div id="btnGuardarMarco" ng-click="guardarMarco()" style="float:right;">

                    <i id="iconGuardar" class="fa fa-floppy-o" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>

                    <p style="font-size:10px; text-align:center; margin-left:-30%">Guardar</p>
                </div>


                <div style="float:right;" id="btnEditarMarco" ng-click="guardarMarco()">
                    <i id="iconEditar" class="fa fa-pencil-square-o" title="Editar" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>
                    <p style="font-size:10px; text-align:center; margin-left:-30%;">Editar</p>
                </div>

                <div id="btnFinalizar" ng-click="Finalizar()" style="float:right;">

                    <i id="iconGuardar" class="fa fa-flag-checkered" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>

                    <p style="font-size:10px; text-align:center; margin-left:-50%">Finalizar Proyecto</p>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 3vh;"></div>

            </div>
            <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="height:50%; background:#8196be;">
                espacio para iconos info

            </div>-->

        </div>
    </div>

    <!--menuayuda-->

    <nav class="vertical" id="menuAyuda2">
        <input type="checkbox" id="toggle3" />
        <label id="menuToggle" for="toggle3">
            <span class="fa fa-bars" style="font-size:22px;"></span>
        </label>
        <menu style="margin-top:-6%;">

            <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
            <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" ng-click="Regresar()" style="font-size:22px;"></a></li>
            <li><a class="fa fa-book button menuAyuda" title="Sobre nosotros" ng-click="Colaboradores()" style="font-size:22px;"></a></li>

        </menu>
    </nav>
    <!-- container para la vista de proyecto finalizado -->
    <div id="ContainerFinal">

        <div class="container col-lg-9 col-md-9 col-sm-11 col-xs-11 " id="ContainerFinal2" style="height:90%; margin-left:50%; transform:translateX(-50%); background-color:rgba(192,192,192,0.15);">


            <div class="col-sm-10 col-md-9  col-lg-12" style="margin-top:5%;">

                <h1 class="text-center " style="font-weight:700">¡Hemos terminado!</h1>
            </div>

            <div class="col-sm-12 col-lg-10  text-center" style="margin-left:50%; transform:translateX(-50%)">
                <h3>Te felicitamos por finalizar el proceso de creación de un proyecto  en nuestra  plataforma GIDPI.</h3><br />
                <h3>Si deseas visualizar el documento final con la información de tu proyecto, da click en el siguiente botón</h3>

            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="col-sm-4  col-lg-4" id="tomasFinal" style="height:489px; margin-top:10%;  z-index:99999; float:left">
                    <img style="width:40%; margin-left:50%; z-index:99999; height: 489px; transform:translateX(-50%)" src="../images/Thomas.png" />
                </div>



                <div class="col-sm-4 col-lg-4" >

                    <button ng-click="abrirReporte1()" id="btn_reporte" class="btn" style="height:100px; width:150px; margin-top:30%; margin-left:50%;  transform:translateX(-50%)">
                        <i id="iconGuardar" class="fa fa-file-text " style="cursor:pointer; font-size:40px; color:#238276; margin-top:-5%" aria-hidden="true"></i><br />
                        <span style="font-size:16px; color:#238276;">Visualizar</span>
                    </button>

                </div>

                <div class="col-sm-4  col-lg-4" style="height:500px; margin-top:10%; z-index:99999; float:right">
                    <img style="width:40%; margin-left:50%; height: 489px;  transform:translateX(-50%)" src="../images/Adriana.png" />

                </div>
            </div>


        </div>

    </div>

</div>


<script src="../scripts/AnimacionTextoVideoAudio.js"></script>
<script src="../scripts/AnimacionTips.js"></script>
<script src="../scripts/audioAyuda.js"></script>
<script src="../scripts/waves.min.js"></script>

<style>
     ::-webkit-scrollbar {
        width: 5px;
    }

    .marc::-webkit-input-placeholder {
        color: rgba(128, 128, 128,0.3);
        font-size: 30px;
    }

    .marc-control:-moz-placeholder {
        color: rgba(128, 128, 128,0.3);
        font-size: 30px;
    }
    /* Mozilla Firefox 4 to 18 */
    .marc-control::-moz-placeholder {
        color: rgba(128, 128, 128,0.3);
        font-size: 30px;
    }
    /* Mozilla Firefox 19+ */
    .marc-control:-ms-input-placeholder {
        color: rgba(128, 128, 128,0.3);
        font-size: 30px;
    }
    /* Internet Explorer 10-11 */
</style>
