<link href="../Css/MenuAyudaMatrizVester.css" rel="stylesheet" />
<link href="../Css/AyudaAudio.css" rel="stylesheet" />
<link href="../Css/fontAudio.css" rel="stylesheet" />


<!--INICIA AYUDA TEXTO-->

<div id="ayudaTextoDos">
    <div class="svg-popup-content" style="width:auto;">
        <h3 class="title-plagin" style="text-align:center; color:#238271; text-transform:uppercase; font-weight:600;">Matriz de Vester</h3>
        <hr style="background:black;" />

        <p>
        <p>La Matriz de Vester, es útil cuando se conocen una serie de problemas y/o situaciones, pero no se logra reconocer si son causas, efectos o problema central. Como resultado de su aplicación se obtiene las posibles causas y efectos de primer nivel con su respectivo problema central.</p>

        </p>

    </div>
</div>

<!--FINALIZA AYUDA TEXTO-->
<!--INICIA AYUDA VIDEO-->

<div id="ayudaVideoDos">
    <div class="svg-popup-content" style="width:auto;">
        <h3 class="title-plagin">Video ayuda Matriz de vester</h3>
        <iframe width="560" height="315" class="cierre"  src="https://www.youtube.com/embed/HvI8sptjV6I" frameborder="0" allowfullscreen></iframe>
    </div>
</div>





<!--FINALIZA AYUDA VIDEO-->
<!--INICIA AYUDA AUDIO-->
<div id="audioAyudaDos" style="display:none">
    <div class="player audioVester">
        <div class="control-row">
            <div class="pauseButton"  id="pause-button">
                <i class="icon icon-play"></i>
                <i class="icon"></i>
            </div>
            <div class="seek-field">
                <input id="audioSeekBar" min="0" max="334" step="1" value="0" type="range" oninput="audioSeekBar()" onchange="this.oninput()">
            </div>
            <div class="volume-icon">
                <i class="icon-volume-up"></i>
            </div>
            <div class="volume-field">
                <input type="range" min="0" max="100" value="100" step="1" oninput="audio.volume = this.value/100" onchange="this.oninput()">
            </div>
            <div>
                <button class="fa fa-close cerrarAudio" style="float:right; border:none; background:none ;color:#238276; margin-right:1%; font-size:18px;">  </button>
            </div>

        </div>
    </div>

    <audio id="audio-player" ontimeupdate="SeekBar()" ondurationchange="CreateSeekBar()" preload="auto" >
        <source src="../audios/2.MATRIZ%20DE%20VESTER.wav" />
    </audio>
</div>
<!--FINALIZA AYUDA AUDIO-->


<nav class="vertical" id="menuAyuda">
    <input type="checkbox" id="toggle2" />
    <label id="menuToggle" for="toggle2">
        <span class="fa fa-bars" style="font-size:22px;"></span>
    </label>
    <menu style="margin-top:-6%;">
        <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
        <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" ng-click="Regresar()" style="font-size:22px;"></a></li>
        <li><a class="fa fa-file button demo-btn ayudaTextoDos menuAyuda" title="Leer ayuda" data-svg-popup="ayudaTextoDos" style="font-size:22px;"></a></li>
        <li><a class="fa fa-video-camera button demo-btn ayudaVideoDos menuAyuda" title="Ver ayuda" data-svg-popup="ayudaVideoDos" ng-click="PauseAudio()" style="font-size:22px;"></a></li>
        <li><a class="fa fa-volume-up button menuAyuda" title="Escuchar ayuda" id="ayudaAudioDos" style="font-size:22px;"></a></li>
        <li><a class="fa fa-book button menuAyuda" title="Sobre nosotros" ng-click="Colaboradores()" style="font-size:22px;"></a></li>

    </menu>
</nav>

<div class="container-fluid" style="height:100vh; margin-top:-10%;">

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height:auto;">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:36.3vh;"></div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:auto;">
            <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="problema">{{ProblemaComparante}}</h3>
        </div>


    </div>



    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height:auto;">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:12vh; margin-left:-5%;">
            <h1 id="matrizVester">Matriz de Vester</h1>
        </div>

        <div id="divProblematica" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:12vh;">

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="height:12vh; margin-left:-4%">

                <input id="problematicaCampo" ng-model="DatosProyecto.ProblemaGeneral" maxlength="150" class="form-control" disabled placeholder="Problemática general" />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="TituloProblema" style="margin-top:-3%; margin-left:4%; position:absolute;">
                <h4 style="display:inline"><b>Problemática General:</b></h4>
                <p  style="font-size:16px">{{DatosProyecto.ProblemaGeneral}}</p>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="BtnGuardar" style="height:12vh;">
                <div data-dismiss="modal" ng-click="Guardar()">
                    <i id="iconGuardar" class="fa fa-floppy-o" title="Guardar" style="cursor:pointer; font-size:30px; color:#238276; margin-top:8%; margin-left:2%;" aria-hidden="true"></i>
                </div>
                <p style="font-size:10px;">Guardar</p>

            </div>

            
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 style="display:none;" id="influeniciaTitulo">¿Qué influencia tiene en?</h1>
        </div>

        <div id="problemasMatriz" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:auto; border:3px solid #4fa19c; margin-left:-3%; margin-bottom:3%;">

            <div class="col-lg-8 col-md-8 col-sm-8" style="height:auto;">

                <label class="form-check-label" style="margin-top:4%; width:65%; margin-left:30%;">

                    <input style="width:16px;height: 16px; " class="form-check-input" title="Sin ralación" type="radio" name={{$index+1}} ng-model="Cantidad" value="4"><span><p style="font-size:16px">5</p></span> 

                    <input style="width:16px;height: 16px; margin-left:2%;" class="form-check-input" title="Baja Influencia" type="radio" name={{$index+1}} ng-model="Cantidad" value="9"> <span><p style="font-size:16px">10</p></span> 

                    <input style="width:16px;height: 16px; margin-left:2%;" class="form-check-input" title="Mediana Influencia" type="radio" name={{$index+1}} ng-model="Cantidad" value="14"> <span><p style="font-size:16px">15</p></span> 

                    <input style="width:16px;height: 16px; margin-left:2%;" class="form-check-input" title="Alta Influencia" type="radio" name={{$index+1}} ng-model="Cantidad" value="19"> <span><p style="font-size:16px">20</p></span> 
                </label>

            </div>



            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:5vh;">

                <center>
                    <div id="agregar_btn" ng-click="Agregar(Cantidad)" style="margin-left:3%; z-index:9999;width:50px; height:50px; cursor:pointer;">
                        <i id="iconEditar" class="fa fa-plus-square-o" style="cursor:pointer; font-size:30px; color:#238276;" aria-hidden="true"></i>
                        <p style="font-size:10px;">Agregar</p>
                    </div>
                    
                </center>

            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:10vh; z-index:66;">

                <div id="tipMatrizVester" style="position:absolute; z-index:99; cursor:pointer;">
                    <span><i class="fa fa-info-circle" style="font-size:30px; color:#238276; float:right; margin-right:-130%;" onclick="tipMatrizVester()"></i></span>
                </div>


                <div id="tipMatrizVesterDos" style="position:absolute; z-index:99; cursor:pointer; margin-top:40%;">
                    <span><i class="fa fa-info-circle" style="font-size:30px; color:#238276; float:right;" onclick="tipMatrizVesterDos()"></i></span>
                </div>

            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:auto;">

                <form name="listaestibas" id="listaestibas">
                    <ul id="Problematicas">
                        <li ng-repeat="problemas in Problemas | orderBy:'$index'" class="row" style="padding-bottom:5px;">
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label>{{$index+1}}</label>
                                    </span>
                                    <input class="form-control" maxlength="140" placeholder="Ingrese problema {{$index+1}}" ng-model="problemas.Problema" />
                                    <!-- <span ng-if="estiba.Alto>2" class="help-block">EL alto máximo estiba es 2 Mt </span>-->
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>

            <div id="agregar_btn" ng-click="mostrar()" style="margin-left:70%;">
                <i id="iconEditar" class="fa fa-exchange" style="cursor:pointer; font-size:30px; color:#238276; margin-left:1%;" aria-hidden="true"></i>
            </div>
            <p style="font-size:10px; margin-left:70%;">Comparar</p>

        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height:auto;">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:36.3vh;"></div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:auto;">

            <form name="listaestibas" id="listaestibas">
                <ul id="comparar">
                    <li ng-repeat="problemasCalificar in ProblemasCalificar | orderBy:'$index'" class="row">

                        <div id="problemaDos">
                            <h3 style="margin-left:4%;" ng-model="problemasCalificar.Problema">{{problemasCalificar.Problema}}</h3>

                            <label class="form-check-label" style="margin-left: 4%;">
                                <input style="width:16px;height: 16px" class="form-check-input" title="Sin ralación" type="radio" ng-click="HabilitarEnviar()" name={{$index+1}} ng-model="valorEjeX.valor" value="0"> 0
                                <input style="width:16px;height: 16px" class="form-check-input" title="Baja Influencia" type="radio" ng-click="HabilitarEnviar()" name={{$index+1}} ng-model="valorEjeX.valor" value="1"> 1
                                <input style="width:16px;height: 16px" class="form-check-input" title="Mediana Influencia" type="radio" ng-click="HabilitarEnviar()" name={{$index+1}} ng-model="valorEjeX.valor" value="2"> 2
                                <input style="width:16px;height: 16px" class="form-check-input" title="Alta Influencia" type="radio" ng-click="HabilitarEnviar()" name={{$index+1}} ng-model="valorEjeX.valor" value="3"> 3
                            </label>
                            <div style="float:right; margin-right:40%;">
                                <button disabled id="Calificar" class="btn btn-success" ng-click="Calificar($index,valorEjeX.valor,ProblemaComparante)">Enviar</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>


    </div>


    <!--Modal confirmar-->

    <div class="modal fade" id="ModalConfirmar" data-backdrop=”static” data-keyboard=”false” role="dialog">
        <div class="modal-dialog" style="width: 400px;">
            <!--Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <center>
                        <h4 style="color:#1C75BB;">
                            CONFIRMAR CALIFICACIÓN
                        </h4>
                    </center>

                </div>
                <div class="modal-body" style="height: 100px; overflow: auto;">
                    <div class="form-group">
                        <label>¿Está seguro que desea corfirmar la calificación? </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success  btn-default" data-dismiss="modal" ng-click="ConfirmarCalificacion(1)">Aceptar</button>
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="ConfirmarCalificacion(2)">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    

    <div id="grafica" class="col-md-6">
        <div id="cuadrante1" class="cuadrantes">PASIVOS</div>
        <div id="cuadrante2" class="cuadrantes">CRÍTICO</div>
        <div id="cuadrante3" class="cuadrantes">INDIFERENTES</div>
        <div id="cuadrante4" class="cuadrantes">ACTIVOS</div>
        <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
    </div>


    <div id="Panel2">
        <img id="personajeHombre" src="../images/Thomas.png" />
 <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 id="TituloProblema" style="display:inline"><b>Problemática General:</b></h4>
                <p id="ProblematicaTexto" style="font-size:16px">{{DatosProyecto.ProblemaGeneral}}</p>
            </div>-->

        <table class="table table-responsive table-striped table-bordered" id="tablaResultados" style="width:48%; position:absolute ">
            <thead>
                <tr>

                    <th>Problema</th>
                    <th>Calificación eje X</th>
                    <th>Calificación eje Y</th>
                    <th>Criterio</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="datosMatriz in DatosMatriz">
                    <td>{{ datosMatriz.Problema | uppercase}}</td>
                    <td>{{ datosMatriz.EjeX | uppercase}}</td>
                    <td>{{ datosMatriz.EjeY | uppercase}}</td>
                    <td>{{ datosMatriz.Criterio | uppercase}}</td>
                </tr>

            </tbody>
        </table>

        <img id="personajeDos" src="../images/Adriana.png" />

    </div>


</div>


<!--Modal omitir-->

<div class="modal fade" id="ModalOmitir" data-backdrop=”static” data-keyboard=”false” role="dialog" style="margin-top:15%;">
    <div class="modal-dialog" style="width: 400px;">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <center>
                    <h4 style="color:#1C75BB;">
                        MATRIZ DE VESTER
                    </h4>
                </center>

            </div>
            <div class="modal-body" style="height: 100px; overflow: auto;">
                <div class="form-group">
                    <center><label>Este paso es opcional y te ayudará a identificar tu problema central ¿Deseas realizarlo?</label></center>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success "  data-dismiss="modal" >Sí</button>
                <button type="button" class="btn btn-default btn-danger  btn-default" data-dismiss="modal" ng-click="OmitirMatriz()">No</button>
            </div>
        </div>
    </div>
</div>


<script src="../scripts/AnimacionTextoVideoAudio.js"></script>
<script src="../scripts/AnimacionTips.js"></script>
<script src="../scripts/audioAyuda.js"></script>
<script src="../scripts/waves.min.js"></script>

<style>
    input[type='radio'] {
    transform: scale(1.2);
    width:25px;
}
</style>