<link href="../Css/MenuAyudaReporte.css" rel="stylesheet" />

<style>

    /*body{
        overflow-y:hidden;
    }*/

    ::-webkit-scrollbar {
      width: 12px;
}

::-webkit-scrollbar-track {
      background-color: white;
} 

::-webkit-scrollbar-thumb {
      background-color: #51aba6;
} 
    
#container_toolbarContainer{
        background:#238276;
        color:white;
}

#container{
    margin-left:50%;
    transform:translateX(-50%);
    margin-top:-10%;
}

</style>
<nav class="vertical" id="menuAyuda">
    <input type="checkbox" id="toggle3" />
    <label id="menuToggle" for="toggle3">
        <span class="fa fa-bars" style="font-size:22px;"></span>
    </label>
    <menu style="margin-top:-6%;">

        <li><a class="fa fa-power-off menuAyuda" style="font-size:22px;" ng-click="cerrarSesion()" title="Cerrar sesión"></a></li>
        <li><a class="fa fa-arrow-left menuAyuda" title="Regresar al menú" ng-click="Regresar()" style="font-size:22px;"></a></li>
        <li><a class="fa fa-book button menuAyuda" title="Sobre nosotros" ng-click="Colaboradores()" style="font-size:22px;"></a></li>

    </menu>
</nav>
<!--<div id="container" ej-reportviewer e-reportserviceurl="reportServiceUrl" e-processingmode="remoteMode" e-isresponsive="true" e-reportpath="rdlReportPath" style="width:100%;height:100vh"></div>-->

<div>
   
    <!--<div ng-repeat="report in reports">
        <input type="button" ng-click="openReport(report.id)" value="{{report.name}}" />
    </div>-->

    <form class="form-horizontal">
        <div style="height:100%;">
            <!--<iframe  src="http://localhost:61609/Report/VistaReporte.aspx?IdProyecto=1" style="width:40%;height:100%; position:fixed; margin-top:-10%; margin-left:50%; transform:translateX(-50%)" ></iframe>-->
            <iframe id="DocumentoFinal" style="border:none; background-color:rgba(161, 161, 161, 0.8)" ng-src="{{url}}"></iframe>

        </div>
    </form>
</div>


 