

<div class="container-fluid" style="height:100vh;margin-top:-10%; ">

    <div class="container col-lg-9 col-md-9 col-sm-9 col-xs-9" id="containerFormResultados">

        <h1 id="ResultadosTitulo">RESULTADOS</h1>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:70%">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="margin:2%; width:95%; height:90%;" >
                    <div style="border: 1px solid #ddd; background:white;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p style="font-weight:600; padding-top:1%;" class="text-center">Resultados objetivos específicos </p>
                    </div>

                    <table class="table table-bordered col-lg-10 col-md-12 col-sm-12 col-xs-12" style="background:white;">

                        <thead class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <tr>
                                
                                <th class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4" style="vertical-align:text-top;" >Resultados esperados de cada uno de los objetivos específicos</th>
                                <th class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-3" style="vertical-align:text-top;" >¿Cómo va a medir los resultados?</th>
                                <th class="text-center col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align:text-top;" >¿Qué herramienta va a utilizar para medir los resultados?</th>
                                <th class="text-center col-lg-2 col-md-2 col-sm-2 col-xs-2" style="vertical-align:text-top;">Producto de los resultados</th>
                            </tr>
                        </thead>

                        <tbody class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <tr>
                        
                                <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                                    <textarea  style="width:100%;" ></textarea><br />
                                    <textarea  style="width:100%;" ></textarea><br />
                                    <textarea style="width:100%;" ></textarea><br />
                                </th>

                                <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <textarea  style="width:100%;" ></textarea>
                                    <textarea  style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                </th>

                                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <textarea  style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                </th>
                                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <textarea style="width:100%;"></textarea>
                                    <textarea style="width:100%;"></textarea>
                                    <textarea style="width:100%;"></textarea>
                                </th>


                            </tr>

                            <tr>
                                
                                <th>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                </th>

                                <th>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                </th>

                                <th>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                </th>
                                <th>
                                    <textarea style="width:100%;"></textarea>
                                    <textarea style="width:100%;"></textarea>
                                    <textarea style="width:100%;"></textarea>
                                </th>

                            </tr>

                            <tr>
                              
                                <th>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                </th>

                                <th>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                </th>

                                <th>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                    <textarea style="width:100%;" ></textarea>
                                </th>
                                <th>
                                    <textarea style="width:100%;"></textarea>
                                    <textarea style="width:100%;"></textarea>
                                    <textarea style="width:100%;"></textarea>
                                </th>

                            </tr>
                    

                        </tbody>
                    </table>
                    <div id="BotonInfoR">
                        <h4 class="infobasica">i</h4>
                    </div>
                </div>

            </div>
            
        </div>
    </div>

</div>
